.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 150px;
}
.header img{
    border-radius: 50%;
}
.header h1{
    text-align: center;
    width: 60%;
    font-size: 60px;
    font-weight: 600;
}
.header h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header p{
    width: 40%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
@media(max-width:768px){
    .header img{
        margin-top: 120px;
        width: 260px;
    }
    .header h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .header p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
}