
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
/* .navbar{
    position: -webkit-sticky; Safari
    position: sticky;
    top: 0;
} */
.navbar img{
    width: 80px;
    height: 80spx;
    fill: none;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
}
.nav-connect{
    padding: 15px 35px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.nav-connect:hover{
    transform: scale(1.1);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.5s;
}
.nav-menu li img{
    display: flex;
    margin: auto;
    width: 30px;
}
.nav-menu li:hover{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e13023;
    transform: scale(1.2);
}
.anchor-link{
    text-decoration: none;
    color: aliceblue;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}

/* ---------------Css for small screens --------------- */
@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
        height: 30px
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 200px;
        height: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 300px;
        height: 600px;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}
